html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-scroll {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
  }
}